* {
  font-family: roboto, sans-serif;
  width: 90vw;
  margin: auto;
  background-color: #ddd
}

#image {
  max-width: 100%;
  display: block;
  padding-bottom: 10px;
}

h1 {
  color: red;
  text-align: center;
  font-size: 36px;
}

#img-caption {
  font-size: 12px;
  color: #333;
  text-align: justify;
}

#tribute-info {
  text-align: justify;
  font-size: 16px;
  color: #111;
  
}

#tribute-link {
  color: #0000ff;
  text-decoration: none;
}

#tribute-link:hover {
  color: white;
  background-color: #999;
}